<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tarnett.mapper.RouteImgMapper">
   <select id="selectByRid" parameterType="int" resultType="com.tarnett.pojo.RouteImg">
         SELECT * FROM tab_route_img WHERE rid=#{rid}
    </select>

</mapper>