<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tarnett.mapper.UserMapper">
    <insert id="insert" parameterType="com.tarnett.pojo.User">
        insert into tab_user(username, password, name, birthday, sex, telephone, email, status, code)
        values(#{username},#{password},#{name},#{birthday},#{sex},#{telephone},#{email},#{status},#{code})
    </insert>
    <select id="selectByUsername" parameterType="string" resultType="com.tarnett.pojo.User">
        select * from tab_user where username = #{username}
    </select>
    <select id="selectByCode" parameterType="string" resultType="com.tarnett.pojo.User">
        select * from tab_user where code = #{code}
    </select>
    <update id="updateStatus" parameterType="com.tarnett.pojo.User">
        update tab_user set status ="Y" where uid = #{uid}
    </update>
    <select id="selectByUsernameAndPassword" parameterType="com.tarnett.pojo.User" resultType="com.tarnett.pojo.User">
        select * from tab_user where username = #{username} and password =#{password}
    </select>

    <select id="select" resultType="com.tarnett.pojo.Category">
        select * from tab_category
    </select>
</mapper>